// main containing element that creates grid
.g
  @include abs-centered
  width: 100%
  min-height: 100vw
  padding: 10px
  display: grid
  grid-template-columns: repeat(60, 1fr)
  grid-template-rows: repeat(37, 1fr)
  grid-gap: 0.25rem