$font-body                    : sans-serif

html:root 

  //colors
  --home-card-color            : rgba(255,255,255,1)
  --first-card-color           : #1da1f2
  --second-card-color-start    : #008dc7
  --second-card-color-end      : #009da7
  --third-card-color           : #e91e63

  //typography colors
  --color-action               : #ff9900
  
  --drop-in-easing-bezier      : .73, .14, 1, .99
  
  --light-box-shadow           : 0 1px 1px rgba(0, 0, 0, 0.25)
  --normal-box-shadow          : 0 2px 2px rgba(0, 0, 0, 0.3)
  
  --standard-easing-duration   : 0.4s
  --standard-easing-bezier     : 0.56, 0.26, 0.37, 0.98
  --drop-in-animation-delay    : 0.77s
  
  --mosaic-grid-gap            : 0.33rem