.cont
  width: 100%
  min-height: 100vh

.main
  padding-bottom: 6rem
  margin-top: 40px
  background-color: var(--white-bg)

.gallery
  transform: translateY(-40px)
  @include flex-direction(column)
  @media screen and ( $min-width-smedium )
    transform: translateY(-2rem)
    @include flex-flow(row wrap)
    width: calc(100% - 1.5rem)
    max-width: var(--gallery-width)
    margin: auto