.cont
  width: 100%
  min-height: 100vh

.main
  padding-bottom: 6rem

.gallery
  @include flex-direction(column)
  @media screen and ( $min-width-smedium )
    transform: translateY(-2rem)
    @include flex-flow(row wrap)
    width: calc(100% - 1.5rem)
    max-width: var(--gallery-width)
    margin: auto
  @media screen and ( $min-width-large )
    transform: translateY(-1rem)
