// Animations
// ============================
// @keyframes photo--fish 
//   0% 
//     transform: translate(26%, 81%) rotate(-6deg)
//   100% 
//     transform: translate(26%, 67%) rotate(-4deg)
  

// @keyframes photo--snow 
//   0% 
//     transform: translate(-33%, 47%) rotate(-10.5deg)
//   100% 
//     transform: translate(-37%, 44%) rotate(-12deg)
  

// @keyframes photo--wedding 
//   0% 
//     transform: translate(29%, -13%) rotate(1deg)
//   100% 
//     transform: translate(25%, -17%) rotate(5deg)
  

// @keyframes photo--mc 
//   0% 
//     transform: translate(-24%, -6%) rotate(-15deg)
//   100% 
//     transform: translate(-26%, -10%) rotate(-15deg)



@keyframes circle-expand 
  0% 

  100%
    clip-path:  circle(75%)

@keyframes fade-in 
  0% 
    opacity: 0
  
  100% 
    opacity: 1
  

@keyframes drop-in 
  0% 
    transform: translate(40%, 52%) scale(1.96) rotate(-20deg)
    opacity: 0
  
  //   25% 
  //     transform: translate(15%, 26%) scale(1.5) rotate(-8deg)
  //     opacity: 1
    
  //   50% 
  //     transform: translate(0%, 9%) scale(1.01) rotate(-2deg)
  //     opacity: 1
    
  //   70% 
  //     transform: translate(0%, 1%) scale(1) rotate(1deg)
  //     opacity: 1
  
  100% 
    transform: translate(0%, 0%) scale(1)
    opacity: 1
  


@keyframes bump-in 
  0% 
    transform: translateX(101%)
  
  99% 
    transform: translateX(-1%)
  
  100% 
    transform: translateX(0)
  