.btn
  cursor: pointer
  margin-bottom: 0.5rem
  padding: 1rem
  font-size: inherit
  border: 1px solid
  border-radius: 2px
  background-color: transparent
.btn:focus
  outline: none
.btn--action
  color: white
  background-color: #f90
  border: none
.btn--easy
  background-color: #2ecc71
.btn--medium
  background-color: #e67e22
.btn--hard
  background-color: #c0392b