.card
  position: relative
  // min-height: 300px
  width: calc(90vw - 2rem)
  margin: 0 auto 2rem
  @include display-flex
  @include flex-direction(column)
  @include flex-shorthand(1)
  @include material-mute--active
  background-color: var(--white)

  @media screen and ( $min-width-smedium )
    width: initial

.card__img-c
  @include flex-shorthand(1)

.card__img
  max-width: 100%

.card__cont
  min-height: 115px
  @include flex-shorthand(1)
  @include flex-direction(column)

.card__title
  text-transform: uppercase
  font-size: 0.85rem
  font-weight: 600
  letter-spacing: 0.55px

.card__sub
  font-family: $font-script
  font-style: italic
  font-weight: 400
  color: var(--grey)

// this is anti-pattern but I will allow it
.gallery--flex
  // styles in the objects > wrappers partial
  .card
    @media screen and ( $min-width-smedium )
      min-width: 48%
      max-width: 48%
      margin-left: 0.33rem
      margin-right: 0.33rem

    @media screen and ( $min-width-medium )
      min-width: 31%
      max-width: 31%
      margin-left: 0.5rem
      margin-right: 0.5rem

    @media screen and ( $min-width-large )
      min-width: 23%
      max-width: 23%
      margin-left: 0.75rem
      margin-right: 0.75rem

.gallery--mosaic
  // styles in the objects > wrappers partial
  .card
    -webkit-break-inside: avoid
    break-inside: avoid
