.card
  position: relative
  min-height: 300px
  width: calc(90vw - 2rem)
  margin: 0 auto 2rem
  @include display-flex
  @include flex-direction(column)
  @include flex-shorthand(1)
  @include material-mute--active
  background-color: var(--white)

  @media screen and ( $min-width-smedium )
    width: initial
    margin-left: 0.33rem
    margin-right: 0.33rem
    min-width: 280px
    max-width: 49%
  @media screen and ( $min-width-medium )
    margin-left: 0.5rem
    margin-right: 0.5rem
    min-width: 220px
    max-width: 47%
  @media screen and ( $min-width-large )
    margin-left: 0.75rem
    margin-right: 0.75rem
    min-height: 300px
    max-width: 24%
.card__img
  @include flex-shorthand(8)
  background: var(--grey) center/cover no-repeat


.card__cont
  @include flex-shorthand(5)
  @include flex-direction(column)

.card__title
  text-transform: uppercase
  font-size: 0.85rem
  font-weight: 600
  letter-spacing: 0.55px

.card__sub
  font-family: $font-script
  font-style: italic
  font-weight: 400
  color: var(--grey)