// Cover
.cover
  min-height: 80vh
  position: relative
  @include justify-content(flex-end)
  background-color: var(--white)

.cover__bg
  width: 100%
  height: 100%

  background: -160px/131% no-repeat
  @media screen and ( $landscape )
    background: left/contain no-repeat  
  @media screen and ( $min-width-smedium ) and ( $max-width-smedium )
    background: -130px/610px no-repeat  
  @media screen and ( $min-width-medium ) and ( $max-width-medium ) and ( $portrait )
    background: -250px/100% no-repeat  
  @media screen and ( $min-width-large )
    background: left/contain no-repeat



.cover__t-c
  min-width: 55vw
  text-align: center
  position: relative
  align-self: flex-start
  margin-top: 20vw
  @media screen and ( $min-width-large )
    margin-top: initial
    align-self: initial

.cover__h1
  font-weight: 600
  
.cover__p
  color: var(--grey)
  font-family: $font-script
  font-style: italic

.cover__nav-b
  position: absolute
  bottom: 0
  right: 0
  left: 0
  height: calc(var(--nav-band-height) + var(--nav-top-offset))
  transform: translateY(var(--nav-band-height))
  background-color: var(--teal)
  mix-blend-mode: multiply