// Cover
.nav
  position: relative
  border-top: 3px solid var(--white)
  color: var(--white)
  height: calc(var(--nav-band-height) - var(--nav-top-offset) + 30px)

  .fa-circle
    font-size: 12px

.nav__ul
  float: right
  width: 64%
  transform: translateY(-53%)
  justify-content: space-around

.nav__li
  transition: color var(--standard-easing-duration) cubic-bezier( var(--standard-easing-bezier))


  &:hover
    color: var(--grey)

.nav__a
  @include flex-direction(column)
  @include align-items(center)

  // it is bad to do this
  // & > *
    transition: color --standard-easing-duration cubic-bezier( var(--standard-easing-bezier))

  
.nav__a-title
  text-transform: uppercase
  letter-spacing: 1px

.nav__fa
  min-height: 1.2rem

.nav__fa--i
  min-height: 2.5rem
  font-size: 1.8rem!important
