$duration       : .7s;
$easing         : cubic-bezier(.56,.26,.37,.98);
$color-map      : ( color-1: #FF6F00, color-2: #D37731, color-3: #A67F61, color-4: #7A8692, color-5: #4D8EC2, color-6: #2196F3 );

@mixin animate-petal( $-petal-class, $-rev ){
    animation: $-petal-class $duration $easing $-rev;
}
@mixin petal-open-rotation( $-petal-num , $-offset){
    transform: rotateZ(($-petal-num - 1) * 60deg + $-offset);
}

[class^="flower"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flower-container {
    width: 100%;
    flex-direction: column;
    margin: 50vh auto;
    transform: translateY(-50%);
}
a {
    display: block;
    margin: 1rem auto;
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid;
    border-radius: 2px;
    padding: .2rem .6rem;
    @media (min-width: 768px){
        display:none;
    }
}
.flower {
    width: calc(300px + 10vw);
    height: calc(300px + 10vw);
    border: 1px solid #e2e2e2;
    list-style-type: none;
    padding: 0;
    & > * {
        position: relative;
        mix-blend-mode: multiply;
        will-change: transform;
    }
    & > *:after {
        position: absolute;
        content: '';
        display: block;
        height: calc(90px + 4vw);
        width: calc(90px + 4vw);
        background-color: inherit;
        border-top-right-radius: 210% 140%;
        border-bottom-right-radius: 18%;
        border-bottom-left-radius: 140% 210%;
        border-top-left-radius: 7%;
    }
}

@for $i from 1 through 6 {
    .petal-#{$i} {
        background-color: map-get($color-map, color-#{$i});
        &.animate {
            @include animate-petal(petal-#{$i}-open, forwards);
        }
        &.animate.end {
            @include animate-petal(petal-#{$i}-close, forwards);
        }
        &.end {
            @include petal-open-rotation( $i , 45deg);
        }
    }
    @keyframes petal-#{$i}-open {
        0%      { transform: rotateZ(0deg) }
        100%    { 
            @include petal-open-rotation( $i , 45deg) }
    }
    @keyframes petal-#{$i}-close {
        0%      { @include petal-open-rotation( $i , 45deg) }
        100%    { transform: rotateZ(
            315deg - (( $i - 1 ) * 60deg) + (($i - 1) * 60deg + 45deg)
         ) }   /* 315 deg - (i-1)60deg +  petal-open-rotation   this is uggo */
    }
}